* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #000;
  color: #fff;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* LEFT PANEL */
.left-panel {
  width: 40%;
  background: #00c389; /* default (normal) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.6s ease;
}

.big-text {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 4px;
}

.status-text {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.9;
}

/* RIGHT PANEL */
.right-panel {
  width: 60%;
  padding: 80px 60px;
}

.right-panel h2 {
  font-size: 36px;
  color: #ffb26b;
  margin-bottom: 10px;
}

.right-panel p {
  color: #aaa;
  margin-bottom: 30px;
}

input, select {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #00c389, #1dd1a1);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#result {
  margin-top: 25px;
  padding: 20px;
  background: #111;
  border-radius: 10px;
  font-size: 18px;
  color: #ffb26b;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    width: 100%;
  }

  .left-panel {
    height: 220px;
  }
}
